@import "../../../constants.scss";

.message {
  color: white;
  position: absolute;
  margin: 8px;
  padding: 8px 12px;
  border-radius: 4px;
  z-index: 2;
  background-color: white;
  box-shadow: $box-shadow--primary;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message--approved {
  background-color: $success--500;
}

.message--denied {
  background-color: $failure--500;
}

.message__title {
  font-weight: 500;
}

.message__subtitle {
  font-size: 12px;
  padding-top: 4px;
}
