$border: 1px solid #d9dbdb;

.info-panel {
  border-left: $border;
  height: 100%;
}

.info-panel__title-container {
  padding: 12px;
  border-bottom: $border;
}

.info-panel__title-container__title {
  font-weight: 500;
}

.info-panel__title-container__input {
  width: 100%;
  height: 16px;
  font-size: 16px;
  outline: none;
  border: none;
}

.info-panel__title-container__title:hover {
  cursor: pointer;
}
