#map,
.map {
  height: 100%;
  width: 100%;
}

.map {
  position: relative;
  display: flex;
  justify-content: center;
}

#map {
  z-index: 1;
}

.map__button-group {
  position: absolute;
  background-color: white;
  z-index: 2;
  width: 27px;
  height: 26px;
}
