.list {
  background-color: #303940;
  width: 100%;
  color: white;
  user-select: none;
}

.list--empty {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.list__item {
  border-bottom: 1px solid #171c21;
  padding: 16px 12px;
  font-weight: 500;
}

.list__item:hover {
  background-color: #272f36;
  cursor: pointer;
}

.list__item:active {
  background-color: #181d22;
}

.list__item--active {
  background-color: #181d22;
}

.list__item__subtitle {
  margin-top: 4px;
  font-size: 12px;
  color: rgb(104, 118, 134);
}
