@import "../constants.scss";

.operations {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 48px auto;
}

.operations__toolbar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow--primary;
}

.operations__toolbar__search {
  color: rgba(0, 0, 0, 0.5);
}

.operations__toolbar__new-operation-button {
  background-color: #4b9dd5;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
}

.operations__toolbar__new-operation-button:hover {
  cursor: pointer;
}

.operations__toolbar__new-operation-button:active {
  cursor: pointer;
  background-color: #4085b3;
}

.operations__map {
  display: flex;
}

.operations__map__info {
  height: 100%;
  width: 33%;
}
