$box-shadow--primary: 0px 4px 4px rgba(0, 0, 0, 0.1);
$success--500: #4caf50;
$failure--500: #b00020;

$airspace-navy-grey--primary: #303940;

$button--primary: #5f9cd2;

:export {
  $box-shadow--primary: $box-shadow--primary;
  $success--500: $success--500;
  $failure--500: $failure--500;
  $airspace-navy-grey--primary: $airspace-navy-grey--primary;
  $button--primary: $button--primary;
}
